<h2> Product details </h2>

<h3> <%= productDetails.name %> </h3>

<img src="<%= productDetails.imageUrl %>">

<p>  $<%= productDetails.price %>. </p>

<p> <%= productDetails.description %></p>


<a href="/products/<%=productDetails._id%>/reviews/new">
  Review this product
</a>
<br>

<a href="/products/<%=productDetails._id%>/edit"> Edit Product </a>
<br>


<!-- (POST or GET is the same in this case) -->
<!-- <a href="/products/<%=productDetails._id%>/delete"> Delete Product</a>
<br>  <!- (GET) -->

<form method="post" action="/products/<%= productDetails._id %>/delete">
  <button> Delete Product </button>  <!-- (POST) -->
</form>
