<h2> Our Products </h2>

<ul>
  <% productsAndStuff.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %></h3>
      <p> $ <%=oneProduct.price %></p>
      <a href="/products/<%=oneProduct._id%>/details"> view details </a>
      <br>

      <a href="/products/<%=oneProduct._id%>/edit"> Edit Product </a>
      <br>


      <!-- (POST or GET is the same in this case) -->
      <!-- <a href="/products/<%=oneProduct._id%>/delete"> Delete Product</a>
      <br>  <!- (GET) --> 

      <form method="post" action="/products/<%= oneProduct._id %>/delete">
        <button> Delete Product </button>  <!-- (POST) -->
      </form>

    </li>
  <% }) %>
</ul>
